body {
	margin-top: 1.0em;
	background-color: #ffffff;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #000000;
}

#container {
	margin: 0 auto;
	width: 700px;
}

h1 {
	font-size: 3.8em;
	color: #000000;
	margin-bottom: 3px;
}

h1 .small {
	font-size: 0.4em;
}

h1 a {
	text-decoration: none;
}

h2 {
	font-size: 1.5em;
	color: #000000;
}

h3 {
	text-align: center;
	color: #000000;
}

a {
	color: #000000;
}

.code {
	font-size: 110%;
	font-weight: bold;
	background-color: #ddd;
	font-family: monospace;
}

pre a {
	color: #3399DD;
	text-decoration: none;
}

.description {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 30px;
	font-style: italic;
}

.download {
	float: right;
}

pre {
	background: #000;
	color: #fff;
	padding: 15px;
}

hr {
	border: 0;
	width: 80%;
	border-bottom: 1px solid #aaa;
}

.footer {
	text-align: center;
	padding-top: 30px;
	font-style: italic;
}

.testbox {
	border-radius: 6px;
	background-color: #ddd;
	list-style: none;
	padding: 8px;
}


.testbox ul {
	list-style: none;
}

#demo-custom-implicit,
#demo-custom-explicit {
	border-radius: 6px;
	background-color: #fff;
	clear: both;
	padding: 8px;
	text-align: center;
}

#custom-implicit-input,
#custom-explicit-input {
	border-radius: 6px;
	border: 3px solid #ddd;
	width: 500px;
	height: 30px;
	font-size: 14px;
	padding: 1px 3px;
	color: #666;
}

#custom-implicit-button,
#custom-explicit-button {
	border-radius: 6px;
	border: 3px solid #ccc;
	width: 140px;
	height: 38px;
	font-size: 14px;
	font-weight: bold;
	background-color: #ddd;
	color: #999;
	vertical-align: top;
}

#custom-implicit-button:hover,
#custom-explicit-button:hover {
	border-color: #bbb;
	background-color: #ccc;
	color: #333;
}

.testbox h1 {
	padding-top: 0;
	margin-top: 0;
	font-size: 2em;
	color: #999;
	float: right;
}

.testbox h2 {
	font-size: 1.2em;
}

.testbox li {
	font-size: 90%;
}

.testbox li p {
	padding: 0.5em 2em 1em 2em;
	color: #666;
	font-weight: bold;
	font-style: italic;
	line-height: 1.6em;
}

.testbox li p em {
	background-color: #666;
	color: #ddd;
	font-weight: normal;
	font-style: normal;
	padding: 2px 4px;
	border-radius: 4px;
}

.testbox a {
	color: #71D5FF;
	display: inline-block;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	background-color: #036;
}

.testbox span[data-darktip] {
	color: #71D5FF;
	display: inline-block;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
	background-color: #306;
}

h1.subsection {
	text-align: right;
	font-size: 2.5em;
	color: #888;
}

#custom-implicit-list,
#custom-explicit-list {
	list-style: none;
	padding: 0;
	margin: 6px 10px;
}

#custom-explicit-templates {
	clear: both;
	margin: 6px;
}

#custom-explicit-templates-list {
	overflow: hidden;
	padding: 0;
}

#custom-explicit-templates-list li {
	cursor: pointer;
	float: left;
	border-radius: 3px;
	background-color: #aaa;
	padding: 3px 9px 3px 6px;
	margin: 0 4px 4px 0;
	font-style: italic;
}

#custom-explicit-templates-list li:hover {
	background-color: #333;
	color: #fff;
}